In [3]:
import pandas as pd

In [5]:
wa = pd.read_csv('waev_data.csv')

# Check the data types of the columns
print(wa.dtypes)

C:\Users\gianf\AppData\Local\Temp\ipykernel_26432\3217656739.py:1: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  wa = pd.read_csv('waev_data.csv')

DMV ID                           int64
DMV Snapshot                    object
ZIP Code                        object
State                           object
Registration Valid Date         object
DMV ID Complete                 object
Registration Expiration Date    object
VIN Prefix                      object
VIN Model Year                  object
Vehicle Name                    object
Technology                      object
dtype: object

In [9]:
# Step 1: Specify Data Types for problematic columns
dtype_spec = {
    'ZIP Code': str,  # Adjust if necessary based on actual mixed type columns
    'Registration Expiration Date': str  # Adjust if necessary based on actual mixed type columns
}

In [10]:
# Step 2: Load the data
wa = pd.read_csv('waev_data.csv', dtype=dtype_spec)

In [11]:
# Step 3: Drop specified columns
columns_to_drop = ['DMV ID', 'DMV Snapshot', 'ZIP Code', 'VIN Prefix', 'VIN Model Year', 'DMV ID Complete', 'Registration Expiration Date']
wa.drop(columns=columns_to_drop, inplace=True)

In [15]:
# Check for null values
null_values = wa.isnull().sum()

# Print the columns with their null value counts
print(null_values)

State                      0
Registration Valid Date    0
Vehicle Name               0
Technology                 0
dtype: int64

In [14]:
# Verify the cleaned data
print(wa.head())
print(wa.info())

  State Registration Valid Date   Vehicle Name Technology
0    WA                6/7/2019  Tesla Model 3        BEV
1    WA                6/7/2019  Tesla Model 3        BEV
2    WA                6/7/2019  Tesla Model 3        BEV
3    WA                6/7/2019  Tesla Model 3        BEV
4    WA                6/7/2019  Tesla Model 3        BEV
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2648349 entries, 0 to 2648348
Data columns (total 4 columns):
 #   Column                   Dtype
---  ------                   -----
 0   State                    object
 1   Registration Valid Date  object
 2   Vehicle Name             object
 3   Technology               object
dtypes: object(4)
memory usage: 80.8+ MB
None

In [16]:
# Step 4: Save the cleaned data
output_file_path = 'cleaned_waev_data.csv'
wa.to_csv(output_file_path, index=False)

In [17]:
ca = pd.read_csv('caev_data.csv')

# Check the data types of the columns
print(wa.dtypes)

C:\Users\gianf\AppData\Local\Temp\ipykernel_26432\2207757696.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  ca = pd.read_csv('caev_data.csv')

State                      object
Registration Valid Date    object
Vehicle Name               object
Technology                 object
dtype: object

In [18]:
# Step 1: Load the data with specified data types
dtype_spec = {
    'ColumnName1': str  # Replace 'ColumnName1' with the actual column name with mixed types if known
}

In [19]:
# Load the data with specified data types
ca = pd.read_csv('caev_data.csv', dtype=dtype_spec, low_memory=False)

In [21]:
# Step 2: Inspect the data
print(ca.head())
print(ca.info())

       Vehicle ID County GEOID Registration Valid Date  DMV ID  \
0  CA-002-03597\r        06099              2011-01-01       2
1  CA-002-03598\r        06105              2011-01-01       2
2  CA-002-03599\r        06103              2011-01-01       2
3  CA-002-03600\r        06099              2011-01-01       2
4  CA-002-03601\r        06099              2011-01-01       2

                                DMV Snapshot  Registration Expiration Date  \
0  CA Registration Data from CA (12/31/2011)                           NaN
1  CA Registration Data from CA (12/31/2011)                           NaN
2  CA Registration Data from CA (12/31/2011)                           NaN
3  CA Registration Data from CA (12/31/2011)                           NaN
4  CA Registration Data from CA (12/31/2011)                           NaN

  State Abbreviation Geography    Vehicle Name
0                 CA    County  Chevrolet Volt
1                 CA    County     Nissan Leaf
2                 CA    County  Chevrolet Volt
3                 CA    County  Tesla Roadster
4                 CA    County  Tesla Roadster
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542443 entries, 0 to 2542442
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Vehicle ID                    object
 1   County GEOID                  object
 2   Registration Valid Date       object
 3   DMV ID                        int64
 4   DMV Snapshot                  object
 5   Registration Expiration Date  float64
 6   State Abbreviation            object
 7   Geography                     object
 8   Vehicle Name                  object
dtypes: float64(1), int64(1), object(7)
memory usage: 174.6+ MB
None

In [22]:
# Step 2: Drop specified columns
columns_to_drop = ['Vehicle ID', 'County GEOID', 'DMV ID', 'DMV Snapshot', 'Registration Expiration Date', 'Geography']
ca.drop(columns=columns_to_drop, inplace=True)

In [23]:
# Step 3: Inspect the data
print(ca.head())
print(ca.info())

  Registration Valid Date State Abbreviation    Vehicle Name
0              2011-01-01                 CA  Chevrolet Volt
1              2011-01-01                 CA     Nissan Leaf
2              2011-01-01                 CA  Chevrolet Volt
3              2011-01-01                 CA  Tesla Roadster
4              2011-01-01                 CA  Tesla Roadster
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542443 entries, 0 to 2542442
Data columns (total 3 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Registration Valid Date  object
 1   State Abbreviation       object
 2   Vehicle Name             object
dtypes: object(3)
memory usage: 58.2+ MB
None

In [24]:
# Step 4: Check for null values
null_values = ca.isnull().sum()
print(null_values)

Registration Valid Date    0
State Abbreviation         0
Vehicle Name               0
dtype: int64

In [25]:
# Step 5: Save the cleaned data
output_file_path = 'cleaned_caev_data.csv'
ca.to_csv(output_file_path, index=False)

In [27]:
ny = pd.read_csv('nyev_data.csv')

# Check the data types of the columns
print(ny.dtypes)

C:\Users\gianf\AppData\Local\Temp\ipykernel_26432\666247780.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  ny = pd.read_csv('nyev_data.csv')

State                       object
ZIP Code                    object
Registration Date           object
Vehicle Make                object
Vehicle Model               object
Vehicle Model Year           int64
Drivetrain Type             object
Vehicle GVWR Class          object
Vehicle GVWR Category       object
Vehicle Count                int64
DMV Snapshot ID              int64
DMV Snapshot (Date)         object
Latest DMV Snapshot Flag      bool
dtype: object

In [29]:
ny.head()

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle GVWR Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,NY,14882,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,29,DMV Snapshot (8/2/2019),False
1,NY,12477,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,25,DMV Snapshot (4/2/2019),False
2,NY,11954,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,34,DMV Snapshot (1/2/2020),False
3,NY,12816,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,38,DMV Snapshot (5/4/2020),False
4,NY,13440,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,22,DMV Snapshot (1/2/2019),False

In [30]:
# Step 2: Drop specified columns
columns_to_drop = ['ZIP Code', 'Vehicle GVWR Class', 'Vehicle GVWR Category', 'DMV Snapshot ID', 'DMV Snapshot (Date)', 'Latest DMV Snapshot Flag']
ny.drop(columns=columns_to_drop, inplace=True)

In [31]:
print(ny.head())
print(ny.info())

  State Registration Date Vehicle Make Vehicle Model  Vehicle Model Year  \
0    NY         12/1/2018        TESLA       MODEL 3                2018
1    NY         12/1/2018        TESLA       MODEL 3                2018
2    NY         12/1/2018        TESLA       MODEL 3                2018
3    NY         12/1/2018        TESLA       MODEL 3                2018
4    NY         12/1/2018        TESLA       MODEL 3                2018

  Drivetrain Type  Vehicle Count
0             BEV              1
1             BEV              1
2             BEV              1
3             BEV              1
4             BEV              1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567236 entries, 0 to 5567235
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   State               object
 1   Registration Date   object
 2   Vehicle Make        object
 3   Vehicle Model       object
 4   Vehicle Model Year  int64
 5   Drivetrain Type     object
 6   Vehicle Count       int64
dtypes: int64(2), object(5)
memory usage: 297.3+ MB
None

In [54]:
# Step 2: Concatenate 'Vehicle Make' and 'Vehicle Model' into 'Vehicle Name'
ny['Vehicle Name'] = ny['Vehicle Make'].str.title() + ' ' + ny['Vehicle Model'].str.title()

In [56]:
# Step 3: Drop the original 'Vehicle Make' and 'Vehicle Model' columns
columns_to_drop = ['Vehicle Make', 'Vehicle Model']
ny.drop(columns=columns_to_drop, inplace=True)

In [58]:
print(ny.head())
print(ny.info())

  State Registration Date  Vehicle Model Year Drivetrain Type  Vehicle Count  \
0    NY         12/1/2018                2018             BEV              1
1    NY         12/1/2018                2018             BEV              1
2    NY         12/1/2018                2018             BEV              1
3    NY         12/1/2018                2018             BEV              1
4    NY         12/1/2018                2018             BEV              1

    Vehicle Name
0  Tesla Model 3
1  Tesla Model 3
2  Tesla Model 3
3  Tesla Model 3
4  Tesla Model 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567236 entries, 0 to 5567235
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   State               object
 1   Registration Date   object
 2   Vehicle Model Year  int64
 3   Drivetrain Type     object
 4   Vehicle Count       int64
 5   Vehicle Name        object
dtypes: int64(2), object(4)
memory usage: 254.8+ MB
None

In [59]:
# Step 4: Check for null values
null_values = ny.isnull().sum()
print(null_values)

State                 0
Registration Date     0
Vehicle Model Year    0
Drivetrain Type       0
Vehicle Count         0
Vehicle Name          0
dtype: int64

In [60]:
# Step 5: Save the cleaned data
output_file_path = 'cleaned_nyev_data.csv'
ny.to_csv(output_file_path, index=False)

In [35]:
# Step 1: Load the data with low_memory=False to handle mixed types warning
flev = pd.read_csv('flev_data.csv', low_memory=False)

In [36]:
print(flev.head())
print(flev.info())

   DMV ID                     DMV Snapshot (Date) County   Vehicle Name  \
0       1  Registration Data from FPL (6/30/2018)   Dade  Tesla Model X
1       1  Registration Data from FPL (6/30/2018)   Dade  Tesla Model X
2       1  Registration Data from FPL (6/30/2018)   Dade  Tesla Model X
3       1  Registration Data from FPL (6/30/2018)   Dade  Tesla Model X
4       1  Registration Data from FPL (6/30/2018)   Dade  Tesla Model X

  Registration Valid Date  Registration Expiration Date Technology
0               6/30/2018                           NaN        BEV
1               6/30/2018                           NaN        BEV
2               6/30/2018                           NaN        BEV
3               6/30/2018                           NaN        BEV
4               6/30/2018                           NaN        BEV
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353974 entries, 0 to 353973
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   DMV ID                        353974 non-null  int64
 1   DMV Snapshot (Date)           353974 non-null  object
 2   County                        353974 non-null  object
 3   Vehicle Name                  353974 non-null  object
 4   Registration Valid Date       353974 non-null  object
 5   Registration Expiration Date  0 non-null       float64
 6   Technology                    353754 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 18.9+ MB
None

In [37]:
# Step 2: Drop specified columns
columns_to_drop = ['DMV ID', 'DMV Snapshot (Date)', 'County', 'Registration Expiration Date']
flev.drop(columns=columns_to_drop, inplace=True)

In [38]:
# Step 3: Inspect the data
print(flev.head())
print(flev.info())

    Vehicle Name Registration Valid Date Technology
0  Tesla Model X               6/30/2018        BEV
1  Tesla Model X               6/30/2018        BEV
2  Tesla Model X               6/30/2018        BEV
3  Tesla Model X               6/30/2018        BEV
4  Tesla Model X               6/30/2018        BEV
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353974 entries, 0 to 353973
Data columns (total 3 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Vehicle Name             353974 non-null  object
 1   Registration Valid Date  353974 non-null  object
 2   Technology               353754 non-null  object
dtypes: object(3)
memory usage: 8.1+ MB
None

In [39]:
# Step 4: Check for null values
null_values = flev.isnull().sum()
print(null_values)

Vehicle Name                 0
Registration Valid Date      0
Technology                 220
dtype: int64

In [40]:
# Step 5: Handle null values - Fill with 'Unknown'
flev['Technology'].fillna('Unknown', inplace=True)

In [41]:
# Verify that there are no more null values in the "Technology" column
null_values_filled = flev.isnull().sum()
print(null_values_filled)

Vehicle Name               0
Registration Valid Date    0
Technology                 0
dtype: int64

In [42]:
# Step 6: Save the cleaned data
output_file_path = 'cleaned_flev_data.csv'
flev.to_csv(output_file_path, index=False)

In [43]:
# Step 1: Load the data with low_memory=False to handle mixed types warning
tx = pd.read_csv('txev_data.csv', low_memory=False)

In [44]:
# Step 2: Inspect the data to understand the structure
print(tx.head())
print(tx.info())

  State ZIP Code Registration Date Vehicle Make Vehicle Model  \
0    TX    78207          9/1/2022        TESLA       MODEL 3
1    TX    77095          9/1/2022        TESLA       MODEL 3
2    TX    75409          9/1/2022        TESLA       MODEL 3
3    TX    78731          9/1/2022        TESLA       MODEL 3
4    TX    75013          9/1/2022        TESLA       MODEL 3

   Vehicle Model Year Drivetrain Type Vehicle GVWR Class  \
0                2021             BEV                  1
1                2021             BEV                  1
2                2021             BEV                  1
3                2021             BEV                  1
4                2021             BEV                  1

     Vehicle GVWR Category  Vehicle Count  DMV Snapshot ID  \
0  Light-Duty (Class 1-2A)              1                5
1  Light-Duty (Class 1-2A)              1                5
2  Light-Duty (Class 1-2A)              1                5
3  Light-Duty (Class 1-2A)              1                5
4  Light-Duty (Class 1-2A)              1                5

       DMV Snapshot (Date)  Latest DMV Snapshot Flag
0  DMV Snapshot (1/1/2023)                     False
1  DMV Snapshot (1/1/2023)                     False
2  DMV Snapshot (1/1/2023)                     False
3  DMV Snapshot (1/1/2023)                     False
4  DMV Snapshot (1/1/2023)                     False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882883 entries, 0 to 1882882
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   State                     object
 1   ZIP Code                  object
 2   Registration Date         object
 3   Vehicle Make              object
 4   Vehicle Model             object
 5   Vehicle Model Year        int64
 6   Drivetrain Type           object
 7   Vehicle GVWR Class        object
 8   Vehicle GVWR Category     object
 9   Vehicle Count             int64
 10  DMV Snapshot ID           int64
 11  DMV Snapshot (Date)       object
 12  Latest DMV Snapshot Flag  bool
dtypes: bool(1), int64(3), object(9)
memory usage: 174.2+ MB
None

In [45]:
# Step 2: Drop specified columns
columns_to_drop = ['ZIP Code', 'Vehicle GVWR Class', 'Vehicle GVWR Category', 'DMV Snapshot ID', 'DMV Snapshot (Date)', 'Latest DMV Snapshot Flag']
tx.drop(columns=columns_to_drop, inplace=True)

In [46]:
# Step 2: Inspect the data to understand the structure
print(tx.head())
print(tx.info())

  State Registration Date Vehicle Make Vehicle Model  Vehicle Model Year  \
0    TX          9/1/2022        TESLA       MODEL 3                2021
1    TX          9/1/2022        TESLA       MODEL 3                2021
2    TX          9/1/2022        TESLA       MODEL 3                2021
3    TX          9/1/2022        TESLA       MODEL 3                2021
4    TX          9/1/2022        TESLA       MODEL 3                2021

  Drivetrain Type  Vehicle Count
0             BEV              1
1             BEV              1
2             BEV              1
3             BEV              1
4             BEV              1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882883 entries, 0 to 1882882
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   State               object
 1   Registration Date   object
 2   Vehicle Make        object
 3   Vehicle Model       object
 4   Vehicle Model Year  int64
 5   Drivetrain Type     object
 6   Vehicle Count       int64
dtypes: int64(2), object(5)
memory usage: 100.6+ MB
None

In [47]:
# Step 3: Check for null values
null_values = tx.isnull().sum()
print(null_values)

State                 0
Registration Date     0
Vehicle Make          0
Vehicle Model         0
Vehicle Model Year    0
Drivetrain Type       0
Vehicle Count         0
dtype: int64

In [49]:
# Step 2: Concatenate 'Vehicle Make' and 'Vehicle Model' into 'Vehicle Name'
tx['Vehicle Name'] = tx['Vehicle Make'].str.title() + ' ' + tx['Vehicle Model'].str.title()

In [51]:
# Step 3: Drop the original 'Vehicle Make' and 'Vehicle Model' columns
columns_to_drop = ['Vehicle Make', 'Vehicle Model']
tx.drop(columns=columns_to_drop, inplace=True)

In [52]:
# Step 4: Inspect the data
print(tx.head())
print(tx.info())

  State Registration Date  Vehicle Model Year Drivetrain Type  Vehicle Count  \
0    TX          9/1/2022                2021             BEV              1
1    TX          9/1/2022                2021             BEV              1
2    TX          9/1/2022                2021             BEV              1
3    TX          9/1/2022                2021             BEV              1
4    TX          9/1/2022                2021             BEV              1

    Vehicle Name
0  Tesla Model 3
1  Tesla Model 3
2  Tesla Model 3
3  Tesla Model 3
4  Tesla Model 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882883 entries, 0 to 1882882
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   State               object
 1   Registration Date   object
 2   Vehicle Model Year  int64
 3   Drivetrain Type     object
 4   Vehicle Count       int64
 5   Vehicle Name        object
dtypes: int64(2), object(4)
memory usage: 86.2+ MB
None

In [53]:
# Step 5: Save the cleaned data (if columns were dropped)
output_file_path = 'cleaned_txev_data.csv'
tx.to_csv(output_file_path, index=False)

**COMBINING ALL THE DATA INTO A SINGLE CSV**

In [1]:
import pandas as pd

# Step 1: Load each cleaned dataset
waev_data = pd.read_csv('cleaned_waev_data.csv')
caev_data = pd.read_csv('cleaned_caev_data.csv')
nyev_data = pd.read_csv('cleaned_nyev_data.csv')
flev_data = pd.read_csv('cleaned_flev_data.csv')
txev_data = pd.read_csv('cleaned_txev_data.csv')

In [20]:
waev_data.rename(columns={'Registration Valid Date': 'Registration Date'}, inplace=True)

In [21]:
waev_data.head()

  State Registration Date   Vehicle Name Technology
0    WA          6/7/2019  Tesla Model 3        BEV
1    WA          6/7/2019  Tesla Model 3        BEV
2    WA          6/7/2019  Tesla Model 3        BEV
3    WA          6/7/2019  Tesla Model 3        BEV
4    WA          6/7/2019  Tesla Model 3        BEV

In [46]:
# Define the desired column order
column_order = ['State', 'Vehicle Name', 'Technology', 'Registration Date']

# Step 3: Reorder the columns
waev_data = waev_data[column_order]

# Display the DataFrame to verify
print(waev_data.head())

  State   Vehicle Name Technology Registration Date
0    WA  Tesla Model 3        BEV          6/7/2019
1    WA  Tesla Model 3        BEV          6/7/2019
2    WA  Tesla Model 3        BEV          6/7/2019
3    WA  Tesla Model 3        BEV          6/7/2019
4    WA  Tesla Model 3        BEV          6/7/2019

In [7]:
caev_data.head()

  Registration Valid Date State Abbreviation    Vehicle Name
0              2011-01-01                 CA  Chevrolet Volt
1              2011-01-01                 CA     Nissan Leaf
2              2011-01-01                 CA  Chevrolet Volt
3              2011-01-01                 CA  Tesla Roadster
4              2011-01-01                 CA  Tesla Roadster

In [23]:
# Rename columns in caev_data
caev_data.rename(columns={
    'Registration Valid Date': 'Registration Date',
    'State Abbreviation': 'State'
}, inplace=True)

In [24]:
# Create a mapping from Vehicle Name to Technology in waev_data
technology_mapping = waev_data.set_index('Vehicle Name')['Technology'].to_dict()

In [25]:
# Apply the mapping to create the Technology column in caev_data
caev_data['Technology'] = caev_data['Vehicle Name'].map(technology_mapping)

In [26]:
# Fill any missing values in the Technology column with a default value, e.g., 'Unknown'
caev_data['Technology'].fillna('Unknown', inplace=True)

In [29]:
# Change the date format from 'year-month-day' to 'day/month/year'
caev_data['Registration Date'] = pd.to_datetime(caev_data['Registration Date']).dt.strftime('%d/%m/%Y')

In [27]:
# Reorder the columns
column_order = ['State', 'Registration Date', 'Vehicle Name', 'Technology']
caev_data = caev_data[column_order]

In [47]:
# Define the desired column order
column_order = ['State', 'Vehicle Name', 'Technology', 'Registration Date']


# Step 3: Reorder the columns
caev_data = caev_data[column_order]

# Display the DataFrame to verify
print(caev_data.head())

  State    Vehicle Name Technology Registration Date
0    CA  Chevrolet Volt       PHEV        01/01/2011
1    CA     Nissan Leaf        BEV        01/01/2011
2    CA  Chevrolet Volt       PHEV        01/01/2011
3    CA  Tesla Roadster        BEV        01/01/2011
4    CA  Tesla Roadster        BEV        01/01/2011

In [8]:
nyev_data.head()

,State,Registration Date,Vehicle Model Year,Drivetrain Type,Vehicle Count,Vehicle Name
0,NY,12/1/2018,2018,BEV,1,Tesla Model 3
1,NY,12/1/2018,2018,BEV,1,Tesla Model 3
2,NY,12/1/2018,2018,BEV,1,Tesla Model 3
3,NY,12/1/2018,2018,BEV,1,Tesla Model 3
4,NY,12/1/2018,2018,BEV,1,Tesla Model 3

In [31]:
# Step 1: Drop the Vehicle Count column
nyev_data.drop(columns=['Vehicle Count'], inplace=True)

In [32]:
# Step 2: Rename the Drivetrain Type column to Technology
nyev_data.rename(columns={'Drivetrain Type': 'Technology'}, inplace=True)

In [33]:
# Display the DataFrame to verify
print(nyev_data.head())

  State Registration Date  Vehicle Model Year Technology   Vehicle Name
0    NY         12/1/2018                2018        BEV  Tesla Model 3
1    NY         12/1/2018                2018        BEV  Tesla Model 3
2    NY         12/1/2018                2018        BEV  Tesla Model 3
3    NY         12/1/2018                2018        BEV  Tesla Model 3
4    NY         12/1/2018                2018        BEV  Tesla Model 3

In [34]:
# Step 1: Drop the Vehicle Model Year column
nyev_data.drop(columns=['Vehicle Model Year'], inplace=True)

In [48]:
# Define the desired column order
column_order = ['State', 'Vehicle Name', 'Technology', 'Registration Date']


# Step 3: Reorder the columns
nyev_data = nyev_data[column_order]

# Display the DataFrame to verify
print(nyev_data.head())

  State   Vehicle Name Technology Registration Date
0    NY  Tesla Model 3        BEV         12/1/2018
1    NY  Tesla Model 3        BEV         12/1/2018
2    NY  Tesla Model 3        BEV         12/1/2018
3    NY  Tesla Model 3        BEV         12/1/2018
4    NY  Tesla Model 3        BEV         12/1/2018

In [9]:
flev_data.head()

    Vehicle Name Registration Valid Date Technology
0  Tesla Model X               6/30/2018        BEV
1  Tesla Model X               6/30/2018        BEV
2  Tesla Model X               6/30/2018        BEV
3  Tesla Model X               6/30/2018        BEV
4  Tesla Model X               6/30/2018        BEV

In [38]:
# Step 1: Add the State column and fill it with 'FL'
flev_data['State'] = 'FL'

In [39]:
# Step 2: Rename the Registration Valid Date column to Registration Date
flev_data.rename(columns={'Registration Valid Date': 'Registration Date'}, inplace=True)

In [49]:
# Define the desired column order
column_order = ['State', 'Vehicle Name', 'Technology', 'Registration Date']


# Step 3: Reorder the columns
flev_data = flev_data[column_order]

# Display the DataFrame to verify
print(flev_data.head())

  State   Vehicle Name Technology Registration Date
0    FL  Tesla Model X        BEV         6/30/2018
1    FL  Tesla Model X        BEV         6/30/2018
2    FL  Tesla Model X        BEV         6/30/2018
3    FL  Tesla Model X        BEV         6/30/2018
4    FL  Tesla Model X        BEV         6/30/2018

In [10]:
txev_data.head()

,State,Registration Date,Vehicle Model Year,Drivetrain Type,Vehicle Count,Vehicle Name
0,TX,9/1/2022,2021,BEV,1,Tesla Model 3
1,TX,9/1/2022,2021,BEV,1,Tesla Model 3
2,TX,9/1/2022,2021,BEV,1,Tesla Model 3
3,TX,9/1/2022,2021,BEV,1,Tesla Model 3
4,TX,9/1/2022,2021,BEV,1,Tesla Model 3

In [42]:
# Step 1: Drop the Vehicle Model Year and Vehicle Count columns
txev_data.drop(columns=['Vehicle Model Year', 'Vehicle Count'], inplace=True)

In [43]:
# Step 2: Rename the Drivetrain Type column to Technology
txev_data.rename(columns={'Drivetrain Type': 'Technology'}, inplace=True)

In [50]:
# Define the desired column order
column_order = ['State', 'Vehicle Name', 'Technology', 'Registration Date']


# Step 3: Reorder the columns
txev_data = txev_data[column_order]

# Display the DataFrame to verify
print(txev_data.head())

  State   Vehicle Name Technology Registration Date
0    TX  Tesla Model 3        BEV          9/1/2022
1    TX  Tesla Model 3        BEV          9/1/2022
2    TX  Tesla Model 3        BEV          9/1/2022
3    TX  Tesla Model 3        BEV          9/1/2022
4    TX  Tesla Model 3        BEV          9/1/2022

In [51]:
# Concatenate all DataFrames into a single DataFrame
all_ev_data = pd.concat([waev_data, caev_data, nyev_data, flev_data, txev_data], ignore_index=True)

# Display the concatenated DataFrame to verify
print(all_ev_data.head())
print(all_ev_data.tail())

  State   Vehicle Name Technology Registration Date
0    WA  Tesla Model 3        BEV          6/7/2019
1    WA  Tesla Model 3        BEV          6/7/2019
2    WA  Tesla Model 3        BEV          6/7/2019
3    WA  Tesla Model 3        BEV          6/7/2019
4    WA  Tesla Model 3        BEV          6/7/2019
         State   Vehicle Name Technology Registration Date
12994880    TX  Tesla Model 3        BEV         10/1/2023
12994881    TX  Tesla Model 3        BEV         10/1/2023
12994882    TX  Tesla Model 3        BEV         10/1/2023
12994883    TX  Tesla Model 3        BEV         10/1/2023
12994884    TX  Tesla Model 3        BEV         10/1/2023

In [52]:
# Check for null values in the concatenated DataFrame
null_values = all_ev_data.isnull().sum()

# Display the count of null values for each column
print(null_values)

State                0
Vehicle Name         0
Technology           0
Registration Date    0
dtype: int64

In [53]:
# Save the concatenated DataFrame to a CSV file
all_ev_data.to_csv('all_ev_data.csv', index=False)

print("\nDataFrame saved to 'all_ev_data.csv'")

DataFrame saved to 'all_ev_data.csv'

In [3]:
import pandas as pd

all_ev_data = pd.read_csv('all_ev_data.csv')

In [4]:
# Step 1: Create the Brand column
all_ev_data['Brand'] = all_ev_data['Vehicle Name'].str.split().str[0]

# Step 2: Update the Vehicle Name column to remove the first name
all_ev_data['Vehicle Name'] = all_ev_data['Vehicle Name'].str.split().str[1:].apply(' '.join)

# Step 3: Rename the Vehicle Name column to Model
all_ev_data.rename(columns={'Vehicle Name': 'Model'}, inplace=True)

# Display the DataFrame to verify
print(all_ev_data)

         State    Model Technology Registration Date  Brand
0           WA  Model 3        BEV          6/7/2019  Tesla
1           WA  Model 3        BEV          6/7/2019  Tesla
2           WA  Model 3        BEV          6/7/2019  Tesla
3           WA  Model 3        BEV          6/7/2019  Tesla
4           WA  Model 3        BEV          6/7/2019  Tesla
...        ...      ...        ...               ...    ...
12994880    TX  Model 3        BEV         10/1/2023  Tesla
12994881    TX  Model 3        BEV         10/1/2023  Tesla
12994882    TX  Model 3        BEV         10/1/2023  Tesla
12994883    TX  Model 3        BEV         10/1/2023  Tesla
12994884    TX  Model 3        BEV         10/1/2023  Tesla

[12994885 rows x 5 columns]

In [5]:
# Save the DataFrame to a CSV file
all_ev_data.to_csv('all_ev_data.csv', index=False)

print("\nDataFrame saved to 'all_ev_data.csv'")

DataFrame saved to 'all_ev_data.csv'